.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-item {
    list-style-type: none;
    margin: 0 5px;
  }
  
  .page-link {
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .page-link:hover {
    background-color: #f7f7f7;
  }
  